body{
    padding: 0;
    margin: 0;
    font-family:Open Sans,Arial;
    color:#010101;
    font-size:16px;
    line-height:1.4;
    text-align:justify;
}

h1, h2 {
    margin: 0.2em 0 0.4em 0;
    text-align: left;
}


div.banner {
    position: relative;
    background-image: url('banner-normal.jpg');
    background-size: cover;
    height: 9em;
    width: 100%;
    top: 0;
    left: 0;
}
div#content {
    position: relative;
    padding:1em;
    margin:2em auto;
    max-width:800px;
}

details > summary > h2 {
    display: inline-block;
}

details summary {
    cursor: pointer;
}

details {
    margin-bottom: 0.3em;
}

li {
    margin-bottom: .5em;
}

table {
    width: 100%;
}

col.c0 {
    width: 30%;
}
col.c10 {
    width: 55%;
}

textarea, input {
    width: 100%;
}

button, input.fileinput {
    padding: 1em;
    background-color: #39c;
    color: white;
    font-size: 120%;
}

button.submit {
    display: block;
    width: 100%;
}

a{color:#07a}

a:visited{color:#941352}

blockquote{
    color:#456;
    margin-left:0;
    font-size: 85%;
}

blockquote:before{
    font-family:Times New Roman,Times,Arial;
    color:#666;
    content:open-quote;
    font-size:2.2em;
    font-weight:600;
    float:left;
    margin-top:0;
    width:1.2rem
}

blockquote:after{
    content:"";
    display:block;
    clear:both}

@media screen and (max-width:500px){
    body{
        text-align:left
    }
}

@media screen and (min-width: 2000px) {
    div.banner {
        background-image: url('banner.jpg');
    }
}

.uploadoptions summary {
    padding-bottom: 2em;
}

table, table tr, table td {
    border-collapse: collapse;
    border: none;
}

.uploadoptions table td {
    padding: 1em 0 1em 0;
    margin: 0;
}

.uploadoptions table tr:nth-child(odd) td {
    border-top: solid 1px #afafaf;
    background-color: #fcfeff;
}
.uploadoptions table tr:nth-child(even) td {
    border-top: solid 1px #afafaf;
    background-color: #fffefc;
}

section.gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-info-box {
    width: 28%;
    height: 370px;
    display: inline-block;
    border: solid 1px black;
    border-radius: 6px;
    overflow: hidden;
    margin: 10px;
}

.img-info-box div {
    text-align: center;
}

.img-info-box img {
    display: inline-block;
    max-width: 100%;
    max-height: 200px;
}

img.forum-preview {
    max-width: 600px;
}

dl {
    margin: 0;
    font-size: 80%;
}

dl dt {
    padding: 5 0;
    margin: 0 0;
    font-weight: bold;
	background: #efeeee;
	width: 100%; 
}

dl dt span {
    display: inline-block;
    padding-left: 6px;
}

dl dd {
	margin: 2px 0; 
	padding-left: 13px;
}